.navbarWrapper {
    width: 100%;
}

.topNavbar {
    @include displayFlex;
    padding: 1rem 2.5rem;

    .list {
        width: 50%;
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 1.25rem;
        li {
            font-size: 0.825rem;
            cursor: pointer;
            font-weight: 500;

        }
    }

    .login {
        width: 50%;
        @include displayEnd;
        cursor: pointer;

        ul {
            li {
                @include displayFlex;
            }
            li:first-child {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 792px) {
    .navbarWrapper {
        width: 100%;
    }

    .topNavbar {
        @include displayFlex;
        padding: 0;
        .list {
            width: 100%;
            @include displayFlex;
            justify-content: space-between;
            padding-top: 2.5rem;

            ul {
                width: 100%;
                justify-content: space-around;
                border-top: 1px solid black;
                height: 3rem;
                gap:0;

                li {
                    @include displayFlex;
                    width: 50%;
                    padding: 0;
                    cursor: pointer;

                    &:nth-child(2) { 
                        border-left: 1px solid black;
                        
                    }
                }
            }
        }

        .login {
            display: none;

            ul {
                display: none;
            }
        }
    }
}
