
@mixin displayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin displayEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }