.wrapperCard{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.card {
    h3 {
        margin: 0;
        font-size: 0.875rem;
        text-align: start;
        padding: 2rem;
        cursor: pointer;
        color: #1E1E1E;
        min-width: max-content;
        font-weight: 400;
    }
}


@media (max-width: 950px) {
    .card {
        display: flex;
        flex-wrap: wrap;
    
    }
}



@media (max-width: 1200px) {
    .card {
        p{
            min-width: 0;
        }
    }
}