.wrapperCard{
    display: flex;
    align-items: center;

}

.card {
    h3 {
        margin: 0;
        font-size: 0.875rem;
        text-align: start;
        padding: 2rem;
        cursor: pointer;
    }
}


@media (max-width: 900px) {
    .card {
        display: flex;
        flex-wrap: wrap;
    
    }
}



@media (max-width: 1200px) {
    .card {
        p{
            min-width: 0;
        }
    }
}