.sectionTabWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F4F4;
    padding: 2rem;
    flex-wrap: wrap;

    h1 {
        display: flex;
        align-items: center;
        padding-right: 1rem;
        padding-bottom: 0.3rem;

        .arrowIcon {
            display: none;
            margin-left: 0.5rem;
        }
    }

    .buttonContainer{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        .tabButton {
            padding: 0.5rem;
            border-radius: 0.25rem;
            box-shadow: -0.1rem 0.1rem 0rem 0rem #000000;
        }
    }

    @media (max-width: 792px) {

        // .sectionTabWrapper{
        //     height: 12rem;

        // }
        h1 {
            .arrowIcon {
                display: inline;
            }
        }
    }
}
